<p>
		<a href="{{ path('deck') }}">Deck</a>
		<a href="{{ path('deck_shuffle') }}">Shuffle</a>
		<a href="{{ path('deck_draw') }}">Draw</a>
		<a href="{{ path('deck_new') }}">Reset</a>
		<a href="{{ path('session_debug') }}">Session</a>
		<a href="{{ path('deck_deal', { players: 3, cards: 5 }) }}">Deal Hands (3/5)</a>
</p>

