<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
    {% block debug %}{% endblock %}
				<header class="header">
					<nav>
						<a href="{{ path('home') }}">Home</a>
						<a href="{{ path('about') }}">About</a>
						<a href="{{ path('report') }}">Report</a>
						<a href="{{ path('lucky') }}">Lucky</a>
						<a href="{{ path('api') }}">JSON Routes</a>
						<a href="{{ path('card') }}">Card</a>
            <a href="{{ path('game') }}">Game</a>
					</nav>
      </header>
      {% for label, messages in app.flashes %}
          {% for message in messages %}
              <div class="flash-message {{ label }}">
                  {{ message }}
              </div>
          {% endfor %}
        {% endfor %}
				<main>
        {% block body %}{% endblock %}
				</main>
				<footer>
					This is the report page for the course mvc, as part of dbwebb, spring semester of 2025. Author is jogm23.
				</footer>
    </body>
</html>

{% if app.debug %}
    {% dump(app.session.all()) %}
{% endif %}
